body {
	background-color: #e9ebee;
}
div {
	background-color: #ffffff;
    margin-top: 15%;
    margin-right:25%;
    margin-left: 25%; 
}
.log {
	margin-bottom: 25%;
 
    margin-right:25%;
    margin-left: 25%;	
}
.tit {
    margin-left:25%;
    	
}